BOT_TOKEN="12345:ABC-DEF..."
LLM_API_KEY="gsk_.."
LLM_API_BASE="https://api.groq.com/openai/v1"
ADMIN_IDS="[123456789]"
LLM_MODEL_NAME="llama-3.1-8b-instant"
LLM_REQUEST_TIMEOUT=30
LLM_RETRIES=3
DB_URL="sqlite+aiosqlite:///db.sqlite3"